<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>四則演算</title>
</head>
<body>
	<!-- タイトル -->
	<h1 align = "center">四則演算</h1>

	<!-- 注意メッセージ -->
	<div>
		<p align = "center">※値は-100から100まで入力可能です</p>
	</div>

	<!-- フォームを送る。送信先はコントローラ -->
	<form action = "/calc" method = "get">

		<!-- エラーメッセージ -->
		<div align = "center">
			<p th:text = "${errorMessage}" style = "color: red"></p>
		</div>


		<div align = "center">
			<!-- 数値入力ボックスX -->
			<input type = "text" name = "inputX" size = "5" maxlength = "4"
				th:value = "${inputX}">


			<!-- 演算方法選択ボックス（プルダウン） -->
			<select name = "operator">
				<option value = "ADD" th:selected = "${enzanshi} == 'add'">＋</option>
				<option value = "SUBTRACT" th:selected = "${enzanshi} == 'subtract'">－</option>
				<option value = "MULTIPLY" th:selected = "${enzanshi} == 'multiply'">×</option>
				<option value = "DIVIDE" th:selected = "${enzanshi} == 'divide'">÷</option>
			</select>

			<!-- 数値入力ボックスY -->
			<input type = "text" name = "inputY" size = "5" maxlength = "4"
				th:value = "${inputY}">

		</div>

		<!-- 計算実行ボタン -->
		<p align = "center">
			<input type = "submit" name = "do" value = "計算">
		</p>

	</form>

	<!-- 条件がtrueのとき、div内を表示する -->
	<div th:if = "${answer != null}">

		<!-- 計算結果ラベル -->
		<div style = "margin: 0 auto; width: 150px;">計算結果</div>

		<!-- 計算結果表示スペース -->
		<div align = "center">

			<div>
				<span th:text = "${inputX}"></span>
				<span th:switch = "${operator}">演算子</span>
				<span th:text = "${inputY}"></span>
				=
				<span th:text = "${answer}"></span>
			</div>

		</div>
	</div>
</body>
</html>